body {
  font-family: monospace;
  font-size: 1.3rem;
  text-align: center;

  padding: 2rem;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  box-shadow: 0 0 25px #A0A0A0;
}

h1 {
  font-size: 2.1em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.15em;
}

p {
  font-size: 1em;
}

a:link, a:visited {
  color: #4c4c50;
}

a > img {
  width: 32px;
  height: 32px;
  display: inline-block;
}
